<h1>Edit Photo 14</h1>

<form action="/update_photo/14">
  <div>
    <label for="source_input">
      Image Source URL
    </label>

    <input id="source_input" type="text" name="the_source" value="photo 14's source">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="caption_input" type="text" name="the_caption" value="photo 14's caption">
  </div>

  <button>
    Update Photo
  </button>
</form>
