<h1>All Photos</h1>

<a href="/photos/new">
  Add a new photo
</a>

<% @list_of_photos.each do |the_photo| %>
  <div>
    <img width="200" src="<%= the_photo.source %>">

    <a href="/photo_details/<%= the_photo.id %>">
      Show Details
    </a>

    <a href="/delete_photo/<%= the_photo.id %>">
      Delete
    </a>
  </div>
<% end %>
