<h1>All Photos</h1>

<a href="/photos/new"> Add a new photo </a>

<% @all_photos.each do |the_photo| %>
  <div class="thumbnail">
    <img src="<%= the_photo.source %>">

    <a class="btn btn-default btn-block" href="/photos/<%= the_photo.id %>">
      Show Details
    </a>
    <a class="btn btn-default btn-block" href="/photos/<%= the_photo.id %>/edit">
      Edit
    </a>
    <a class="btn btn-default btn-block" href="/delete_photo/<%= the_photo.id %>">
      Delete
    </a>
  </div>
<% end %>
