<h1>Add a new photo</h1>

<form>
  <div>
    <label>
      Image Source URL
    </label>

    <input type="text">
  </div>

  <div>
    <label>
      Caption
    </label>

    <input type="text">
  </div>

  <button>
    Create Photo
  </button>
</form>
